body
{
    background-image: url("racunalo.jpg");
    /*ovo mi sluzi za poravnanje slike gore desno i da se slika ne ponavlja*/
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    text-align: justify;
}
p
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 11px;
    border: 1px solid #000;
    background-color: #ffffcc;  
}
p.drugi
{
    color: Firebrick;
    text-align: center;
    text-decoration: underline;
}
p.treci
{
    text-align: right;
}
